@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@layer components{

  .text-h1{
    @apply text-[clamp(12px,2vw,120px)] font-semibold;
}

.text-h4{
  font-size: clamp(9px,1.2vw,56px);
}

.text-small{
  font-size: clamp(5px,1vw,32px);
}

.text-p{
  font-size: clamp(7px,1.1vw,48px);
}

}



